body {margin-top: 0;
margin-left: 0;
margin-right: 0;
    font-family: sans-serif;
}

header{padding: 10px;
    background-color: burlywood;
}

header img {
    width: 70px;
    height: 70px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h1 img {
    width: 150px;
    height: 150px;
}

p {
    font-size: 20px;
}

img{width: 200px;
height: 200px;}

footer {margin-top: 20px;
    background-color: peru;
    color: white;
    padding: 10px;
}
a{font-size: 25px;
background-color: blanchedalmond;
border-radius: 15px;
padding: 15px;
text-decoration: none;}


}
